.workout-form {
    margin: 20px;
}

.weight-input .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0 0 0 10px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 80%;
}

.add-set-button {
    display: flex;
    justify-content: center;
}

.delete-icon .css-i4bv87-MuiSvgIcon-root {
    color: #424769;
}