@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #7077A1;
}

.card-container {
    max-width: 400px;
    width: 100%;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Poppins';
}