.view-details {
  margin: 0 1rem 0 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.back-to-home {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-to-home span {
  color: #2d3250;
  font-family: "Poppins";
  font-size: 14px;
  margin-left: 0.2rem;
}

.calendar-wrapper {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 0;
}

.calendarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #7077a1;
  border-radius: 50%;
  padding: 6px;
  margin-right: 8px;
}

.calendarDay {
  margin-top: 0.2rem;
  font-size: 13px;
  color: #2d3250;
}
.calendarMonth {
  font-size: 18px;
  font-weight: 600;
  color: #2d3250;
}
.view-details .slick-slider.slick-initialized {
  width: 97vw;
}
.view-details .slick-arrow.slick-prev {
  background: #2d3250;
  color: white;
  border-radius: 8px;
  margin-left: 12px;
}
.view-details .slick-arrow.slick-next {
  background: #2d3250;
  color: white;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .view-details .slick-arrow.slick-next {
    right: 10px;
  }
}
